

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
 


/* Navbar */

.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
 
}

.navbar-left{
  display: flex;
  align-items: center;
}

.navbar-left img{
  cursor: pointer;
  border-bottom: 1px solid transparent;
}

.navbar-left img:hover{
  border-bottom: 1px solid #000;
}

.search{
  margin-left: 30px;
}

.search input{
  border: 1px solid rgb(226, 34, 0);
  outline: none;
  text-align: center;
  padding: 5px 10px;
  border-radius: 50px;
  font-size: 16px;
}

.navbar-menu ul{
  display: flex;
}

.navbar-menu{
  z-index: 1000;
  top: 0;
  left: 150px;
  position: sticky;
  background: #fff;
  padding: 5px 0;
  

  display: flex;
  justify-content: center;
  margin-top: 10px;
  margin-left: -30px;
  background: rgb(190, 188, 188);

}

.navbar-menu ul li{
  text-decoration: transparent;
  list-style-type: none;
  margin-right: 20px;
}

.navbar-menu ul li a{
  text-decoration: none;
  color: rgb(255, 255, 255);
  padding: 5px 30px;
  background-color: rgb(226, 34, 0);
  border-radius: 50px;
  border: 1px solid transparent;
  transition: 0.5s all ease;
}

.navbar-menu ul li a:hover{
   background: transparent;
   border: 1px solid rgb(226, 34, 0);
   color: rgb(226, 34, 0);
}

.navbar-right p{
  cursor: pointer;
  margin-right: 20px;
}

.navbar-right{
  display: flex;
  align-items: center;
}


.form-add_title {
  display: flex;
  justify-content: center;
  text-align: center;
}

a {
  text-decoration: none;
  color:  inherit;
}

.box{
  width: 200px;
  height: 100px;
  background: #000;
  margin-top: 10px;
}

.top-icon{
  width: 80px;
  transform: rotate(270deg);
  cursor:pointer;
  position: fixed;
  bottom: 40px;
  right: 100px;
  border-radius: 50px;
  transition: 0.5s all ease;
}

.top-icon:hover{
  box-shadow:  1px 1px 20px 1px rgb(250, 179, 0);
}

.user-img{
  border-radius: 50px;
  
}

.cart{
  margin: 0 20px;
}

.buttons {
  display: flex;
  justify-content: space-around;
}

.card {
  border: 1px solid rgb(134, 131, 131);
  padding: 5px;
}

.card img {
  margin-left: 5px;
  transition: 0.3s;
}

.card img:hover {
  padding: 2px;
  transition: 0.3s;
}


