

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*{
  font-family: 'Lato', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
 


/* Navbar */

.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
  
  
}

.navbar-left{
  display: flex;
  align-items: center;
}

.navbar-left img{
  cursor: pointer;
  border-bottom: 1px solid transparent;
}

.navbar-left img:hover{
  border-bottom: 1px solid #000;
}

.search{
  margin-left: 30px;
}

.search input{
  border: 1px solid rgb(226, 34, 0);
  outline: none;
  text-align: center;
  padding: 5px 10px;
  border-radius: 50px;
  font-size: 16px;
}

.navbar-menu ul{
  display: flex;
}

.navbar-menu{
  z-index: 1000;
  top: 0;
  left: 150px;
  position: sticky;
  background: #fff;
  padding: 5px 0;
  

  display: flex;
  justify-content: center;
  margin-top: 10px;
  margin-left: -30px;
  box-shadow: 1px  10px 10px rgba(0, 0, 0, 0.089);

}

.navbar-menu ul li{
  text-decoration: transparent;
  list-style-type: none;
  margin-right: 20px;
}

.navbar-menu ul li a{
  text-decoration: none;
  color: rgb(255, 255, 255);
  padding: 5px 30px;
  background-color: rgb(226, 34, 0);
  border-radius: 50px;
  border: 1px solid transparent;
  transition: 0.5s all ease;
}

.navbar-menu ul li a:hover{
   background: transparent;
   border: 1px solid rgb(226, 34, 0);
   color: rgb(226, 34, 0);
}

.navbar-right p{
  cursor: pointer;
  margin-right: 20px;
}

.navbar-right{
  display: flex;
  align-items: center;
}


.form-add_title {
  display: flex;
  justify-content: center;
  text-align: center;
}

a {
  text-decoration: none;
  color:  inherit;
}

.box{
  width: 200px;
  height: 100px;
  background: #000;
  margin-top: 10px;
}

.top-icon{
  width: 80px;
  transform: rotate(270deg);
  cursor:pointer;
  position: fixed;
  bottom: 40px;
  right: 100px;
  border-radius: 50px;
  transition: 0.5s all ease;
}

.top-icon:hover{
  box-shadow:  1px 1px 20px 1px rgb(250, 179, 0);
}

.user-img{
  border-radius: 50px;
  
}

.cart{
  margin: 0 20px;
  padding-right: 5px;
}
.cart:hover{
  border-bottom: 2px solid rgba(123, 121, 121, 0.611);
}


.buttons {
  display: flex;
  justify-content: space-around;
}




.product-name{
  font-size: 18px;
  font-weight: 700;
  width: 100%;
  text-align: center;
  overflow: hidden;
  height: 32px;
}

.categor-h3 {
  display: block;
}
.categor-h3{
  text-align: center;
  margin-top: 50px;
}

/* Header */

.header-img{
  padding-top: 40px;
  
}

.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-content{
  width: 50%;
}

.header-btns{
  display: flex;
  margin-top: 30px;
}

.zakaz-btn{
  padding: 10px 20px;
  border: 1px solid transparent;
  background: rgb(17, 68, 0);
  color: #fff;
  border-radius: 10px;
  transition: 0.5s all ease;
}

.zakaz-btn:hover{
  background: transparent;
  color: #000;
  border: 1px solid rgb(17, 68, 0) ;
}

.call-btn{
  padding: 10px 20px;
  border: 1px solid transparent;
  background: rgb(0, 123, 255);
  color: #fff;
  border-radius: 10px;
  transition: 0.5s all ease;
  margin-left: 30px;
}

.call-btn:hover{
  background: transparent;
  color: rgb(0, 10, 89);
  border: 1px solid rgb(0, 22, 68) ;

}

/* Card */

.card {
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.426);
  padding: 10px;
  border-radius: 10px;
  transition: 0.5s all ease;
  
}

.card:hover{
  box-shadow: 1px 1px 10px rgba(252, 202, 0, 0.426);
}

.card-img {
  margin-left: 5px;
  transition: 0.3s;
  padding: 0;
  
}

.card-img:hover {
  padding: 2px;
  transition: 0.3s;
}

.product-name{
  margin: 0;
  font-size: 20px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.213);
  margin-bottom: 5px;
}


.card-text{
  padding: 0 10px;
  font-size: 14px;
  margin: 0;
  height: 40px;
  overflow: hidden;
}

.card-like{
   border: transparent;
   width: 40%;
   background: transparent;
   cursor: pointer;
   margin: 0 auto;
  display: block;
  transition: 0.5s all ease;
  border-bottom: 2px solid transparent;
}

.card-like:hover{
  border-bottom: 2px solid #000;
}

.card-cart{
  width: 40%;
  border: transparent;
  background: transparent;
  cursor: pointer;
  margin: 0 auto;
  display: block;
  transition: 0.5s all ease;
  border-bottom: 2px solid transparent;
}

.card-cart:hover{
  border-bottom: 2px solid #000;
}

.card-buttons{
  margin-bottom: 10px;
  display: flex;
}

.card-price{
  text-align: center;
  margin: 0;
  font-size: 18px;
  margin-bottom: 5px;
  font-weight: 400;
}

.text-menu p{
  font-size: 36px;
  text-align: center;
}

.text-menu{
  background: rgb(182, 182, 182);
}

.cont{
  display: flex;
}

.emty{
  text-align: center;
  padding: 0;
  margin: 0;
}

.emty h2{
  padding: 0;
  margin: 0;
  padding-left: 100px;
  
}

/* footer */

.footer{
  width: 100%;
  background: #000;
  
  margin-top: 50px;
  color: #fff;
  padding-top: 30px;
  padding-bottom: 30px;
}

.footers{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-text{
  width: 600px;
  
}

.footer-logo{
  background: #fff;
  padding: 20px;
  border-radius: 30px;
}

.footer-cont ul li:hover{
  color: rgb(255, 132, 0);
}

.modal-content{
 margin-left: 30px;
 
}

.modal{
  display: flex;
  align-items: center;
  padding: 30px;
}


.modal-close-btn{
  position: absolute;
  cursor: pointer;
  top: 10px;
  right: 15px;
}

.total{
  width: 100%;
  text-align: center;
  position: sticky;
  bottom: 0px;
  background: #fff;
  border-radius: 30px;
  border: 1px solid rgb(255, 217, 0);
  margin-top: 10px;
}

.total-btn{
  padding: 10px 40px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  background: rgb(255, 0, 0);
  color: #fff;border-radius: 30px;
  font-size: 18px;
  transition: 0.5s all ease;
  cursor: pointer;
}

.total-btn:hover{
  background: transparent;
  color: rgb(255, 0, 0);
  border: 1px solid rgb(255, 0, 0);
}

.zakaz-form input{
  width: 300px;
  margin-top: 10px;
  padding: 10px;
  border: transparent;
  outline: transparent;
  text-align: center;
}

.zakaz-form input::placeholder{
  text-align: center;
}

.zakaz-form{
  text-align: center;
  height: 150px;
  overflow: hidden;
}

.zakaz-form button{
  margin-top: 10px;
  padding: 10px 30px;
  border:  1px solid transparent;
  background: rgb(54, 218, 0);
  font-size: 16px;
  color: #fff;
  border-radius: 20px;
  cursor: pointer;
  transition: 0.5s all ease;
  position: absolute;
  bottom: 10px;
  right: 33%;
}

.zakaz-form button:hover{
  background: transparent;
  border: 1px solid rgb(54, 218, 0) ;
  color: rgb(54, 218, 0);
}

.ourproducts{
  padding: 10px 30px;
  background: rgb(0, 17, 255);
  color: #fff;
  margin-top: 30px;
  border-radius: 20px;
  transition: 0.5s all ease;
  border: 1px solid transparent;
}

.ourproducts:hover{
  color:rgb(0, 17, 255) ;
  border: 1px solid rgb(0, 17, 255);
  background: transparent;
  
}

.admin{
  margin-top: 30px;
  margin-bottom: 20px;
}

.zakaz-name{
  width: 200px;
  text-align: center;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.165);
  padding: 20px;
  margin-top: 10px;
  cursor: pointer;
  margin-left: 10px;
}

.zakaz-cont{
  display: flex;
  flex-wrap: wrap;
}